body {
  background-image: url('../img/retrobg.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Source Code Pro', monospace;
}

.title {
  text-align: center;
  color: #FFFFFF;
  text-shadow: 2px 2px 1px #7A9BA8,
                -1px -2px 2px #7A9BA8;
  background-image: url('../img/banner1.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
h1 {
  font-family: 'Monoton', cursive;
  font-size: 6vw;
}
